.Signup {
  position: relative;
  left: 0px;
  top: 0px;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(232, 234, 224, 1);
}
.Signup .Group2137 {
  position: absolute;
  left: 791.25px;
  top: 63px;
  width: 447.75px;
  height: 645.984375px;
  border-radius: 3.7312499284744263px;
}
.Signup .Group2137 .Signup_1 {
  position: absolute;
  left: 124.99685668945312px;
  top: 0px;
  width: 198.75px;
  height: 78px;
  color: rgba(59, 93, 80, 1);
  font-family: Poppins;
  font-size: 52.23750114440918px;
  font-weight: 600;
  line-height: 78.35625457763672px;
}
.Signup .Group2137 .AlreadyAMemberLogIn {
  position: absolute;
  left: 122.19845581054688px;
  top: 624.984375px;
  width: 203.25px;
  height: 21px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 14.924999713897705px;
  font-weight: 400;
  line-height: 20.52187442779541px;
}
.Signup .Group2137 .CreateAccount {
  position: absolute;
  left: 118.46722412109375px;
  top: 535.4344482421875px;
  width: 213.61404418945312px;
  height: 42.9093017578125px;
  background: rgba(59, 93, 80, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 14.924999713897705px;
  font-weight: 600;
  line-height: 20.52187442779541px;
}
.Signup .Group2137 .CreateAccount:hover {
  cursor: pointer;
  background: rgb(35, 67, 55);
}
.Signup .Group2137 .Email {
  position: absolute;
  left: 0px;
  top: 203.35308837890625px;
  width: 445.88438415527344px;
  height: 50.3719482421875px;
  background: rgba(221, 225, 205, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
}
.Signup .Group2137 .Child {
  position: absolute;
  left: 1.86566162109375px;
  top: 281.70941162109375px;
  width: 147.38433837890625px;
  height: 50.3719482421875px;
  background: rgba(221, 225, 205, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.790624141693115px;
}

.Signup .Group2137 .Contact {
  position: absolute;
  left: 1.86566162109375px;
  top: 360.0655517578125px;
  width: 445.88438415527344px;
  height: 50.3719482421875px;
  background: rgba(221, 225, 205, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.790624141693115px;
}

.Signup .Group2137 .Group2023 {
  position: absolute;
  left: 0px;
  top: 438.421875px;
  width: 445.88438415527344px;
  height: 50.3719482421875px;
  border-radius: 3.7312499284744263px;
}
.Signup .Group2137 .pass {
  position: absolute;
  left: 0px;
  top: 438.421875px;
  width: 445.88438415527344px;
  width: 445.88438415527344px;
  height: 50.3719482421875px;
  background: rgba(241, 243, 230, 1);
  border-radius: 3.7312499284744263px;
  border: 1.243749976158142px solid
    rgba(98.69091868400574, 122.1874974668026, 47.55131721496582, 1);
  box-sizing: border-box;
}
.Signup .Group2137 .Group2023 .Password {
  position: absolute;
  left: 16.79058837890625px;
  top: 7.46246337890625px;
  width: 45px;
  height: 14.25px;
  color: rgba(99, 122, 48, 1);
  font-family: Poppins;
  font-size: 9.328125px;
  font-weight: 300;
  line-height: 13.9921875px;
}
.Signup .Group2137 .Group2023 ._ {
  position: absolute;
  left: 16.79058837890625px;
  top: 26.11871337890625px;
  width: 76.5px;
  height: 16.5px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 11.19374942779541px;
  font-weight: 400;
  line-height: 16.790624141693115px;
}
.Signup .Group2137 .Parent {
  position: absolute;
  left: 0px;
  top: 124.9969482421875px;
  width: 445.88438415527344px;
  height: 50.3719482421875px;
  background: rgba(181, 212, 196, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.Signup .Group2137 .Med {
  position: absolute;
  left: 263.98590087890625px;
  top: 281.70941162109375px;
  width: 181.8984375px;
  height: 50.3719482421875px;
  background: rgba(221, 225, 205, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.790624141693115px;
}

.Signup .Group2137 .Age {
  position: absolute;
  left: 164.17501831054688px;
  top: 281.70941162109375px;
  width: 82.08750915527344px;
  height: 50.3719482421875px;
  background: rgba(221, 225, 205, 1);
  border-radius: 3.7312499284744263px;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-size: 16;
  font-weight: 400;
  line-height: 16.790624141693115px;
}

.Signup .image3 {
  position: absolute;
  left: 0px;
  top: -74.25px;
  width: 589.5px;
  height: 883.5px;
  object-fit: cover;
  overflow: hidden;
}
