.AdminCreateDoctor {
  position: relative;
  left: 0px;
  top: 0px;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(243, 245, 249, 1);
  border-radius: 14.399999999999999px;
}
.AdminCreateDoctor .Rectangle6 {
  position: absolute;
  left: 0px;
  top: -190.07999999999998px;
  width: 218.88px;
  height: 707.04px;
  background: rgba(252, 251, 255, 1);
  border-radius: 14.399999999999999px;
}
.AdminCreateDoctor .BabyOwls {
  position: absolute;
  left: 23.759999999999998px;
  top: 37.44px;
  width: 116.64px;
  height: 28.08px;
  color: rgba(59, 93, 80, 1);
  font-family: Inter;
  font-size: 23.04px;
  font-weight: 500;
  line-height: 27.883635864257812px;
}
.AdminCreateDoctor .Teachers {
  position: absolute;
  left: 26.589814453124998px;
  top: 206.64px;
  width: 13.089890077889685%;
  height: 5.103806228373702%;
  display: flex;
  align-items: center;
  color: rgba(59, 93, 80, 1);
  font-family: Poppins;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 34.56px;
}
.AdminCreateDoctor .CareTakers {
  position: absolute;
  left: 24.17255859375px;
  top: 149.04px;
  width: 13.089883949861946%;
  height: 5.103806228373702%;
  display: flex;
  align-items: center;
  color: rgba(59, 93, 80, 1);
  font-family: Poppins;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 34.56px;
}
.AdminCreateDoctor .Doctors {
  position: absolute;
  left: 26.589814453124998px;
  top: 264.24px;
  width: 13.089890077889685%;
  height: 5.103806228373702%;
  display: flex;
  align-items: center;
  color: rgba(249, 191, 41, 1);
  font-family: Poppins;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 34.56px;
}
.AdminCreateDoctor .DailyActivities {
  position: absolute;
  left: 26.589814453124998px;
  top: 321.84px;
  width: 14.887638934644828%;
  height: 5.103806228373702%;
  display: flex;
  align-items: center;
  color: rgba(59, 93, 80, 1);
  font-family: Poppins;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 34.56px;
}
.AdminCreateDoctor .CreateANewDailyActivity {
  position: absolute;
  left: 620px;
  top: 92.16px;
  width: 34.18674698795181%;
  height: 5.103806228373702%;
  display: flex;
  align-items: center;
  color: rgba(59, 93, 80, 1);
  font-family: Poppins;
  font-size: 34.56px;
  font-weight: 600;
  line-height: 51.839999999999996px;
}
.AdminCreateDoctor .Children {
  position: absolute;
  left: 26.589814453124998px;
  top: 379.44px;
  width: 14.887638934644828%;
  height: 5.103806228373702%;
  display: flex;
  align-items: center;
  color: rgba(59, 93, 80, 1);
  font-family: Poppins;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 34.56px;
}

.AdminCreateDoctor .info {
  margin-left: 600px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AdminCreateDoctor .info input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.AdminCreateDoctor .info button {
  top: 40px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin: 10px;
  background-color: #3b5d50;
  color: white;
  border: none;
  border-radius: 5px;
}

.AdminCreateDoctor .info button:hover {
  cursor: pointer;
  background-color: #184836;
  color: white;
}
